<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>
  
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

  
  <!-- Google Fonts (Roboto) -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
  <header>
    <div class="header-content">
      <h1><a href="{{ "/" | relative_url }}" class="site-title">{{ site.title }}</a></h1>
      <p>Explore the world of Cybersecurity & Bug Bounties</p>
    </div>
    <nav>
      <ul>
        <li><a href="{{ "/about/" | relative_url }}" class="nav-link">About</a></li>
        <li><a href="{{ "/cves/" | relative_url }}" class="nav-link">CVEs</a></li>
        <li><a href="{{ "/hall-of-fame/" | relative_url }}" class="nav-link">Hall of Fame</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="content">
      <h2>{{ page.title }}</h2>
      {{ content }}
    </section>
  </main>

  <footer>
    <p>&copy; 2024 Roland Hack. All Rights Reserved.</p>
  </footer>
</body>
</html>
